@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap');

html {
    height: 1vh;
    font-size: 1vw;
}

body {
    width: 80%;
    margin: auto;
    
    font-family: Roboto Condensed;
}

.title-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title-section__edit {
    margin-left: 50px;
    opacity: .5;
    
    display: flex;
    flex-direction: row;
    align-items: center;
    
    cursor: pointer;
}

.title-section__edit svg {
    height: 2rem;
}

.edit-text {
    margin-left: 5px;
}

.subTitle-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.subTitle-section__org-cab {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.subTitle-section__org-cab svg {
    height: 2rem;
}

.project-section {
    display: flex;
    flex-direction: row;
    border-top: 1px solid black;
    padding-top: 10px;
}

.project-section__img {
    width: auto;
    height: 15rem;
}

.project-section__body {
    width: 60%;
    margin-left: 30px;
    margin-right: 30px;
}

.project-section__buttons {
    width: 30%
}

.body-about {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.body-about svg {
    margin: auto 5px;
    height: 2rem;
}

.location__city {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 20%;
}

.city__word {
    margin-right: 5px;
}

.body-information {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.body-information svg {
    height: 2rem;
}

.information2 {
    margin-left: 3.5rem;
}

.information3 {
    margin-left: 10rem;
}

.information__money {
    font-weight: bold;
}

.body-about__title {
    margin-top: 0px;
}

.body-about__tags {
    margin: 0px 0px 5px 0px;
}

.body-location {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.location__address {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    width: 100%;
    
    margin-left: 4rem;
}

.location__address svg {
    height: 2rem;
    margin-right: 5px;
}

h1 {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}

h2 {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.edit-text {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: #000000;
}

.org-text {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #4D4D4D;
}

#cancel-section {
    display: flex;
    flex-direction: row;
}

.cancel-section__line {
    margin-top: 35px;
    margin-left: 10px;
    width: 100%;
    border-top: 1px solid black;
}




/*   КАРТОЧКА   */

        /*    BODY    */

.body-about__tags {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 13px;
    color: #FF4546;
}

.body-about__pin {
    background: rgba(255, 69, 70, 0.8);
/*    color: rgba(255, 69, 70, 0.8);*/
}

.body-about__title {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.city__word, .city__name {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
/*    font-size: 15px;*/
    color: #000000;
}

.address {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 300;
/*    font-size: 15px;*/
    line-height: 21px;
    color: rgba(0, 0, 0, 0.8);
}

.tagImg {
    color: #000000;
}

.information__undo-price {
    display: flex;
    flex-direction: row;
}

.undo-price__text, .undo-price__price {
    margin-top: 0px;
    margin-bottom: 0px;
}

.undo-price__price {
    margin-left: 10px;
}

.price {
    font-family: Roboto Condensed;
    font-style: bold;
    font-size: 32px;
    fill: Solid;
    color: #000000;
    margin-top: .25rem;
    margin-bottom: 20px;
}

.information__time, .information__data {
    margin-top: 0px;
}

.information__data, .information__sum, .information__time, .information__hours {
    display: flex;
    flex-direction: row;
}

.data__img, .sum__img, .time__img, .hours__img {
    margin: auto 10px auto 0;
}

.information__undo-price {
    margin: auto;
}

.hidden {
    display: none;
}

.status-text {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.status-text svg {
    height: 2rem;
    margin-right: 5px;
}

.status-text__cancel {
    margin-left: 5px;
    cursor: pointer;
    text-decoration: underline;
}

.status-text__undone {
    color: #FF4546;
}

button {
    margin: 15px 0px 15px 0px;
    height: 3.5rem;
    font-size: 1rem;
    border: 2px solid #FF4546;
    background: white;
    color: #FF4546;
    transition: .5s;
}

button:hover {
    cursor: pointer;
    background: #FF4546;
    color: white;
}

.status-text__cancel {
    opacity: .5;
}

.buttons-request__status {
    display: flex;
    flex-direction: column
}

