html {
    height: 1vh;
    font-size: 1vw;
}

body {
    width: 80%;
    margin: auto;
}

.title-section {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title-section__edit {
    margin-left: 50px;
    opacity: .5;
}

.subTitle-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.project-section {
    display: flex;
    flex-direction: row;
    border-top: 1px solid black;
    padding-top: 10px;
}

.project-section__img {
    width: 255px;
    height: 170px;
}

.project-section__body {
    width: 60%;
    margin-left: 30px;
    margin-right: 30px;
}

.project-section__buttons {
    width: 20%
}

.body-about {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 20%;
}

.location__city {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 15%;
}

.body-information {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.body-about__title {
    margin-top: 0px;
}

.body-about__tags {
    margin: 0px 0px 5px 0px;
}

.body-location {
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}

h2 {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
}

.edit-text {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: #000000;
}

.org-text {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #4D4D4D;
}

.cancel-section {
    display: flex;
    flex-direction: row;
}

.cancel-section__line {
    margin-top: 35px;
    margin-left: 10px;
    width: 100%;
    border-top: 1px solid black;
}




/*   КАРТОЧКА   */

        /*    BODY    */

.body-about__tags {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 13px;
    color: #FF4546;
}

.body-about__pin {
    background: rgba(255, 69, 70, 0.8);
/*    color: rgba(255, 69, 70, 0.8);*/
}

.body-about__title {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
}

.city__word, .city__name {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
}

.address {
    font-family: Roboto Condensed;
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 21px;
    color: rgba(0, 0, 0, 0.8);
}

.tagImg {
    color: #000000;
}

.information__undo-price {
    display: flex;
    flex-direction: row;
}

.undo-price__text, .undo-price__price {
    margin-top: 0px;
    margin-bottom: 0px;
}

.undo-price__price {
    margin-left: 10px;
}

.price {
    font-family: Roboto Condensed;
    font-style: bold;
    font-size: 32px;
    fill: Solid;
    color: #000000;
    margin-top: 0px;
    margin-bottom: 20px;
}

.information__time, .information__data {
    margin-top: 0px;
}

.hidden {
    display: none;
}

.status-text {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
    margin-bottom: 20px;
}

button {
    margin: 15px 0px 15px 0px;
    height: 2.5rem;
    border: 2px solid #FF4546;
    background: white;
    color: #FF4546;
    transition: .5s;
}

button:hover {
    cursor: pointer;
    background: #FF4546;
    color: white;
}

.status-text__cancel {
    opacity: .5;
}

.buttons-request__status {
    display: flex;
    flex-direction: column
}